body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
 display: flex;
 width: auto;
 background-color: aliceblue;
}

.main-wrapper{
  display: flex;
  flex-direction: row;
 
}

.column-item {
  flex: 1 0 50%; 
  margin: 2px;
  background-color: lightgreen;
  list-style: none;
}

.contact-list{
  display: flex;
  flex-direction: column;
}
.contact-list .li{
  font-size: medium;
}
.contact-details{
  display: flex;
}